@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-family: 'Caramel', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
}
